code/preprocessing/CIHP_PARSING/checkpoint/
code/preprocessing/U2Net/saved_models/
code/preprocessing/Sleeve_Classifier/weights/
code/preprocessing/lower_clf/weights/
code/preprocessing/Cloth2Skeleton/weights/
code/preprocessing/ClothSegmentation/weights/

code/preprocessing/pose_filtered_Data/
code/preprocessing/parse_filtered_Data/
code/preprocessing/Training_Dataset/

code/main/result/Top_1024x768_COTTON/gradio/gradio_demo1
code/main/result/Top_1024x768_COTTON/weights
code/main/result/Top_1024x768_COTTON/FID_score_gradio.txt
code/main/result/Top_1024x768_DressCode/weights

Data/Example_top
Data/gradio_demo1
Data/parse_filtered_Data
Data/pose_filtered_Data
Data/temp
Data/Training_Dataset/1024x768/gradio_demo1


**/__pycache__


*.amlignore
*.amlignore.amltmp

*.egg-info/
.installed.cfg
*.egg
*.pkl
*.pth
*.zip
